body {
    background-color: lightblue;
    margin: 0px;
}

  h1 {
    max-height: 15vh;
    margin: 0px;
    text-align: center;
    border: 1px solid black;
    overflow: hidden;
}

/* MENU BAR */

#menu{
    border: 1px solid black;
    display: flexbox;
    padding-left: 5vh;
    background-color: turquoise;
    box-shadow: 2px 2px 4px black;
    font-size: 0px;
}

#menu p{
    display: inline-flex;

    padding-left: 4vh;
    padding-right: 4vh;
    padding-top: 1.8vh;
    padding-bottom: 1.8vh;
    margin-top: 0vh;
    margin-bottom: 0vh;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2vh;
    font-weight: 500;
    text-shadow: 0px 1px 1px;
    font-variant: small-caps;

    -webkit-transition-duration: 0.8s;
    transition-duration: 0.8s;
}

#menu p:hover{
    background-color: teal;
    cursor: pointer;
}

#linkref{
    max-width: 5vh; 
    display: inline-flex;
    float: right;
    margin-right: 1vh;
}

#linkref img{
    max-height: 5.1vh;
    background-color: white;
    border: white;
    border-radius: 20%;
    box-shadow: 0px 1px 1px;
}

#linkref img:hover{
    cursor: pointer;
}

/*  Dropdown */ 
.dropdown {
    position: relative;
    display: inline-flex;
}

.dropdown a{
    margin: 0vh;
}

.dropdown:hover .dropdown-content{
    display: block;
}

.dropitems {
    display: inline-flex;
}

.dropdown-content {
    display: none;
    position: absolute;
    width: 100%;
    z-index: 1;
    top: 100%;
    text-align: center;
    background-color: violet;
    box-shadow: 2px 2px 3px black;

    font-size: 1.6vh;
}

.dropdown-content a{
    text-decoration: none;
    display: block;
    padding-top: 1vh;
    padding-bottom: 1vh;
    color: black;
}

.dropdown-content a:hover{
    background: white;
}

/*          */

/*          */


footer{
    background-color: grey;
    height: 3vh;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

footer p{
    text-align: left;
    color: white;
    margin-top: 1vh;
    margin-left: 1vh;
    font-size: 1.2vh;
    font-weight: bold;
}